@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .body {
    background: #fff;
  }
  .cart-small {
    position: fixed;
    top: 0;
    right: 0;
    background-color: whitesmoke;
    color: black;
    height: 100vh;
    width: 100vw;
    padding-left: 0.75rem;
  }
  .link_text {
    font-family: adelle-sans, sans-serif;
    font-weight: 500;
  }

  .header,
  .footer {
    background: #fff;
    color: #2c2b29;
    font-family: adelle-sans, sans-serif;
    font-weight: 400;
  }

   @media screen and (max-width: 1023px) {
  .header_small {
      position: fixed;
      top: 2.5rem;
      left: 0;
      background-color: whitesmoke;
      color: black;
      height: 100vh;
      width: 100vw;
      padding-left: 0.75rem;
    }
  }

  @media screen and (max-width: 760px) {
    .header_small {
      position: fixed;
      top: 2.5rem;
      left: 0;
      background-color: whitesmoke;
      color: black;
      height: 100vh;
      width: 100vw;
      padding-left: 0.75rem;
    }
    .cart-small {
      position: fixed;
      top: 2.5rem;
      right: 0;
      background-color: whitesmoke;
      color: black;
      height: 100vh;
      width: 100vw;
      padding-left: 0.75rem;
    }

    .small_carousel{
      height: fit-content;
     
    }
  }

  @media screen and (max-width: 585px) {
    .footer_small {
      font-size: 13px;
    }
    .footer_small_pad {
      margin-top: 20px;
    }
  }

  @media screen and (max-width: 390px) {
    .footer_small {
      font-size: 10px;
      line-height: 2;
    }
    .footer_small-icon {
      font-size: 13px;
    }
    .footer_small_pad {
      margin-top: 20px;
    }
  }

  .ease_transit {
    transition: all ease-in 3s;
  }

  .aspect-h-9 {
    height: "90vh";
    padding-bottom: "56.25%";
  }
  .aspect-w-16 {
    width: 100%;
    padding-top: 56.25%;
  }
  .main-bg {
    background: whitesmoke;
    height: 50px;
    padding-top: .7rem;
  }

   .cartt {
    opacity: 0;
    background: linear-gradient(to right, white 50%, black 50%);
    background-size: 200% 100%;
    transition: background-position 0.5s, opacity 0.4s;
  }

  .cartt:hover {
    background-position: -100% 0;
  }
   .slugcartt {
    background: linear-gradient(to right, white 50%, black 50%);
    background-size: 200% 100%;
    transition: background-position 0.5s, opacity 0.4s;
    
  }

  .slugcartt:hover {
    background-position: -100% 0;
  }

.card_cart:hover .cartt {
  opacity: 1;
 
}


  .embla {
    overflow: hidden;
    max-height: fit-content;
  }
  .embla__container {
    display: flex;
    max-height: fit-content;
  }
  .embla__slide1,
  .embla__slide2,
  .embla__slide3 {
    flex: 0 0 100%;
    min-width: 0;
    width: 100%;
    max-height: fit-content;
  }

  /* .embla__slide1{
  background:image-set("/frontcollage.webp");
  background-size: cover;
  background-position: 'center';
  height: auto;
  
}
.embla__slide2{
  background:url("/frontcollage2.webp");
  background-size: cover;
  background-position: 'center';
  height: auto;
  width: 100%;
}

.embla__slide3{
  background:url("/frontcollage3.webp");
  background-size: cover;
  background-position: 'center';
  height: auto;
  width: 100%;
} */

  .responsive-image {
    max-width: inherit;
    height: fit-content;
  }

  .pagination {
    @apply flex gap-4;
  }

  .page-item {
    @apply rounded-md px-3 md:px-4 py-1 bg-gray-200;
  }

  .page-link {
    @apply text-gray-800 hover:bg-gray-300;
  }

  .current-page {
    @apply bg-black;
  }

  .current-page-link {
    @apply text-white;
  }

  .headert {
  transition: background-color 0.4s ease;
}
.header_main-page {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.556), rgba(0,0,0,0)); /* Gradient from black to transparent */
}
.header_main-page:hover {
  background:#fff /* Gradient from black to transparent */
}
.transparent-header {
  background-color: transparent;
}

}
